<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="container">
        <h1>Login</h1>

        {% if erro %}
            <p style="color: red;">{{ erro }}</p>
        {% endif %}

        <form method="POST" class="form-card">
            <div class="form-group">
                <label>Usuário</label>
                <input type="text" name="usuario" required>
            </div>

            <div class="form-group">
                <label>Senha</label>
                <input type="password" name="senha" required>
            </div>

            <button type="submit" class="btn">Entrar</button>
        </form>
    </div>

</body>
</html>